*

!.gitignore

!kubejs/
!kubejs/data/
!kubejs/data/productivebees/
!kubejs/data/productivebees/productivebees/
!kubejs/data/productivebees/productivebees/mysticalextendedtier/
!kubejs/data/productivebees/productivebees/mysticalextendedtier/**

!kubejs/data/productivebees/recipe/
!kubejs/data/productivebees/recipe/bee_produce/
!kubejs/data/productivebees/recipe/bee_produce/mysticalextendedtier/
!kubejs/data/productivebees/recipe/bee_produce/mysticalextendedtier/**

!kubejs/data/productivebees/recipe/centrifuge/
!kubejs/data/productivebees/recipe/centrifuge/mysticalextendedtier/
!kubejs/data/productivebees/recipe/centrifuge/mysticalextendedtier/**

!kubejs/data/productivebees/recipe/mysticalextendedtier/
!kubejs/data/productivebees/recipe/mysticalextendedtier/**

!kubejs/assets/
!kubejs/assets/productivebees/
!kubejs/assets/productivebees/lang/
!kubejs/assets/productivebees/lang/zh_cn.json

!kubejs/client_scripts/
!kubejs/client_scripts/mysticalextendedtier_productivebees_lang.js